body{
	background-image: url(image/desert.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.kent{
	width: 250px;
	padding: 50px;
	background-color: white;
	margin-top: 100px;
	margin-right: 0px;
	opacity: 0.87;
	border-radius: 10px;
	font-weight: bold;

}
.index{
	padding: 15px;
	width: 200px;
	margin-top: 15px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 15px;
	background-color: antiquewhite;
	border-style: none;
	border-radius: 20px;
}
.button{
	width: 220px;
	padding: 15px;
	background-color: blue;
	border-style: none;
	font-weight: bold;
	border-radius: 20px;
	margin-top: 10px;
	color: white;
}